<app-toolbar></app-toolbar>
<mat-toolbar>
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>    
      <!-- <app-toolbar></app-toolbar> -->
      <!-- <span><img src="./assets/devglan.png"></span> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" closed role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='profile'>Profile Component</a>
        <a mat-list-item routerLink='appereals'>Appereals Component</a>
        <a mat-list-item routerLink='electronics'>Electronics Component</a>
        <a mat-list-item routerLink='fruits'>Fruits Component</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  